- @events ||= []
= link_to "Create Event",:action=>"create_event",:calendar_id=>@calendar_id
%br
%br
= @events.size
Events
%br
- for event in @events
  = h event.title
  = h event.start_time
  = link_to "Edit", :action=>"edit_event", :id=>event.id,:calendar_id=>@calendar_id
  %br