- @widgets ||= []
= link_to "Create Boxed View",:action=>"create_widget",:calendar_id=>@calendar_id,:class_name=>"Widgets::BoxedView"
%br
= link_to "Create List View",:action=>"create_widget",:calendar_id=>@calendar_id,:class_name=>"Widgets::ListView"
%br
= link_to "Create Social Network",:action=>"create_widget",:calendar_id=>@calendar_id,:class_name=>"Widgets::SocialNetwork"
%br
%br
= @widgets.size
Widgets
%br
- for widget in @widgets
  = h widget.id
  = h widget.title
  = h widget.class_name
  /= h event.start_time
  = link_to "View", :action=>"widget", :id=>widget.id
  %br