%html
  %head
    %title
      Spongewolf
    <link href="/stylesheets/spongewolf.css" media="screen" rel="Stylesheet" type="text/css" />
  %body
    .header 
      %h1
        Spongewolf
      %br
      Spongewolf is an open source application powered by the
      = link_to "Spongecell","http://spongecell.com"
      API. Download the source here:
      = link_to "spongewolf.tar.gz","/source/spongewolf.tar.gz"
      - if @signed_in
        %br
        = link_to "View Calendars",:action=>"calendars"
        = "-"
        = link_to "Sign Out",:action=>"sign_out"
      - if flash[:note]
        %br
        %font{:color=>"red"}
          = h flash[:note]
      %br
      %br
    .content
      = @content_for_layout
    %br
    %br
    .footer
      .footer_text
        Spongecell has great
        = link_to "online calendars","http://spongecell.com"
        you can embed in your website. To subscribe to the Spongewolf sms list text "go spongewolf" to SPONGE (665543).
        For questions, comments or answers send email to
        = mail_to "spongewolf@spongecel.com", "Spongewolf.", :encode=>:javascript